# Database (Supabase PostgreSQL)
DATABASE_URL="postgres://your_user:your_password@your_host:6543/postgres?pgbouncer=true"
DIRECT_URL="postgres://your_user:your_password@your_host:5432/postgres"

# Weather API (optional)
WEATHER_API=your_weather_api_key

# NextAuth.js (akan ditambahkan di Phase 4)
# NEXTAUTH_SECRET="your_secret_here"
# NEXTAUTH_URL="http://localhost:3000"
